body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.container, .container_2{
    width: 50%;
    height: 700px;
    /* border:1px solid blue; */
    background-color: rgb(235, 247, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color:rgb(102, 117, 110);
    font-weight: bold;
    text-shadow: rgb(239, 196, 215) 1px 0 10px;
    text-align: center;

    /* border: 1px solid red; */
}
.img-container, .img-container-2{
    /* border:1px solid green; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width:500px;
    height: 500px;
}
img{
    width: 85%;
    height: 85%;
    object-fit: cover;
}
button{
    padding: 10px 15px;
    border: none;
    background-color: rgb(248, 158, 198);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transform: scale(1);
    transition:300ms;
    color:rgb(33, 78, 59);
    font-weight:bold;
}
button:hover{
    cursor:pointer;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    transform: scale(0.9);
}
.hide-btn{
    display: none;
}
@media screen and (max-width:1000px) {
    .container, .container_2{
        width:75%;
    }
}
@media screen and (max-width:700px) {
    .container, .container_2{
        width:90%;
    }
}
@media screen and (max-width:550px) {
    .img-container, .img-container-2{
        max-width: 350px;
        height:350px;
    }
}
@media screen and (max-width:440px) {
    .img-container, .img-container-2{
        max-width: 300px;
        height:300px;
    }
    img{
        width:100%;
    }
}